html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{
  height: 100%;
}


.large-spinner{
  font-size: 3rem;
  color: red;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.alert{
  width: 10%;
  height: 30px;
  margin: 10px auto;
  background-color: #c0c0c0;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 20px;
  float: right;
}


.alert-info{
  background-color: wheat;
  color: blue;
}


.alert-danger{
  background-color: red;
  color: rgb(240, 236, 236);
}

.grid-container{
   display: grid;
   grid-template-areas: 
      "header"
      "main"
      "footer";
   grid-template-columns: 1fr;
   grid-template-rows: 5rem 1fr 5rem;
   height: 100%;
}

header{
  grid-area: "header";
  background-color: #203040;
  position: sticky;
  top: 0px;

}

a{
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

a:hover{
  color: #f0a040;
}

main{
  grid-area: "main";
  padding: 1rem;
}

footer{
  grid-area: "footer";
  background-color: #203040;
  color: #fff;
}

.row{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.brand{
  font-size: 3rem;
}

.row.center{
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #c0c0c0;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.1rem;
  margin: 1rem;
}

img.medium{
  max-width: 29rem;
}

h2{
  margin: 0;
  font-size: 1.6rem;
}

.rating>span{
  color: #f0a040;
  margin: 0.1rem;
}


.rating>span:last-child{
  color: #303030;
}


.price{
  font-size: 2rem;
  font-weight: bold;
}

.card-body>*{
  margin-bottom: 0.2rem;
}